.form-recebido {
    padding: 30px;
    transition: 300ms all ease-in-out;
}

.form-recebido:hover {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}

.skill,
.hobby,
.contato img {
    transition: 300ms all ease-in-out;
}

.skill:hover,
.hobby:hover,
.contato img:hover {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.17 );
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.foto-perfil {
    transition: 500ms all ease-in-out;
}

.foto-perfil:hover {
    transform: scale(1.1);
}

nav a:hover {
    text-decoration: underline;
    text-shadow: 0 0 15px rgba(0, 0, 0, .45);
}

.social li:hover {
    border-bottom: .5px solid black;
}

/* Suavidade nos erros do formulário de contato */
/*
.validacao li {
    animation: suavidade 600ms ease;
}

@keyframes suavidade {
    from {
        display: none;
        opacity: 0;
    }
    to {
        display: initial;
        opacity: 1;
    }
}
*/
